---
layout: default
---

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto Científico - Información de Vendedores</title>
    <link rel="stylesheet" href="../../../assets/css/styles_science.css">
</head>
<body>
    <div class="container" id="password-container">
        <h1>Ingrese la Contraseña</h1>
        <input type="password" id="password-input" placeholder="Contraseña">
        <button id="password-submit">Enviar</button>
        <p id="error-message" style="color: red; display: none;">Contraseña incorrecta, por favor intente nuevamente.</p>
    </div>
    <div class="container" id="seller-container" style="display: none;">
        <h1>Información de Vendedores</h1>
        <div id="current-tickets">
            <h2>Tickets en Llamada</h2>
            <div id="ticket-list"></div>
        </div>
        <div id="unattended-tickets">
            <h2>Tickets No Atendidos</h2>
            <div id="unattended-list"></div>
        </div>
        <button id="show-popup">Asignar Ticket</button>
        <div id="seller-list"></div>
        <div id="log-container">
            <h2>Registro de Cambios Recientes</h2>
            <div id="log-list"></div>
        </div>
    </div>

    <div id="ticket-popup" class="popup">
        <div class="popup-content">
            <span id="close-popup" class="close">&times;</span>
            <h2>Asignar Ticket</h2>
            <button id="assign-random">Aleatorio</button>
            <button id="choose-seller">Elegir Vendedor</button>
            <div id="seller-buttons" style="display: none;"></div>
        </div>
    </div>

    <script type="module" src="../../../assets/js/science_project_main.js"></script>
</body>
</html>
